.top__section {
  /* box-shadow: 0 4px 2px -2px gray; */
  box-shadow: 0 4px 1px -2px #ccc;
}

.arrow__back {
  height: 1.5rem;
  width: 1.5rem;
  color: rgb(146, 138, 138);
}

.heading {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  gap: 2rem;
  /* color: #000; */
  margin-bottom: 0.5rem;
  /* font-weight: 300; */
  padding-left: 1.5rem;
}

.image__container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-size: 1.2rem;
}

.user__avatar {
  border-radius: 50%;
  width: 2rem;
  height: 2rem;
}

.icon {
  z-index: 1000;
  margin-left: 2.5rem;
  margin-top: -1.5rem;
  fill: #fff;
  border-radius: 50%;
  background-color: rgb(71, 128, 155);
  padding: 0.3rem;
  height: 2rem;
  width: 2rem;
}

.middle__section {
  color: #000;
  margin-top: 2rem;
}

.details {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding-left: 1.2rem;
  padding-right: 1.2rem;
}

.details__item {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 1rem;
}

.details__icon {
  fill: #fff;
  border-radius: 0.5rem;
  padding: 0.3rem;
  height: 2rem;
  width: 2rem;
}

.username {
  background-color: rgb(101, 162, 241);
}

.email {
  background-color: rgb(226, 142, 53);
}
