.welcome {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.username {
  color: #4e0eff;
}

.image {
  height: 20rem;
}

@media screen and (min-width: 360px) and (max-width: 480px) {
  .welcome {
    display: none;
  }
}
