.sidebar {
  display: none;
}

.side__element {
  list-style-type: none;
  font-size: 1.1rem;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  padding: 0;
  transition: 0.5s ease-in-out;
}

.side__element:hover {
  background-color: #ccc;
}

.side__link {
  margin-left: 0;
  padding-left: 1.5rem;
  padding-bottom: 2rem;
  display: flex;
  flex-direction: row;
  cursor: pointer;
}

.side__link a {
  text-decoration: none;
  
}



.side__icon {
  fill:#fff;
  height: 2rem;
  width: 2rem;
  color: rgb(89, 87, 87);
  border-radius: 0.5rem;
  padding:0.3rem;
  background-color: rgb(135, 136, 220);
}

.logout__icon {
  fill:#fff;
  height: 2rem;
  width: 2rem;
  color: rgb(89, 87, 87);
  border-radius: 0.5rem;
  padding:0.3rem;
  background-color: #cd1d3b;
}

.side__footer {
  list-style-type: none;
  font-size: 1.4rem;
}

.user__container{
  background-color: #305679;
  padding: 1.5rem;
  color: #fff;
}

.user__avatar{
  border-radius: 50%;
}

.actions{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  gap: 1.5rem;
}

@media screen and (max-width: 600px) {
  .sidebar {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-content: center;
  }
}

@media screen and (max-width: 370px) {
  .side__element {
    font-size: 1.1rem;
  }
}
