.chat__phone_container {
  display: flex;
  flex-direction: row;
  background-color: white;
  color: black;
  overflow: auto;
}

.chat__header {
  background-color: rgb(38, 73, 125);
  padding: 0.5rem;
  position: fixed;
  width: 100vw;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  color: white;
}

.chat__avatar {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 1rem;
}

.avatar {
  border-radius: 50%;
}

.chat__messages {
  background-color: white;
  padding: 1rem 2rem;
  display: flex;
  flex-direction: column;
  gap: 1rem;
  overflow: auto;
}
.chat__messages::-webkit-scrollbar {
  width: 100px;
}

.chat__messages::-webkit-scrollbar::-webkit-scrollbar-thumb {
  background-color: #ffffff39;
  width: 0.1rem;
  border-radius: 1rem;
}

.message {
  display: flex;
  align-items: center;
}

.message .content {
  max-width: 50%;
  overflow-wrap: break-word;
  padding: 0 0.5rem;
  font-size: 1.1rem;
  border-radius: 1rem;

  color: black;
}
.sended {
  justify-content: flex-end;
}

.sended .content {
  background-color: #4f04ff21;
}
.received {
  justify-content: flex-start;
}

.received .content {
  background-color: #9900ff20;
}

.chat__input {
  width: 100%;
}

@media screen and (max-width: 600px) {

  .chat__header {
    padding: 0.5rem;
    position:fixed;
    top:0;
    width:100%;
    z-index:100;
    overflow: auto;
  }

  .chat__messages {
    margin-top: 5rem;
    margin-bottom: 5rem;
  }

}
